---
import Layout from "../layouts/Layout.astro";

const url = "https://www.transparencia.gob.sv/api/v1/officials.json";

fetch(url)
	.then((response) => {
		// Verificar si la respuesta es exitosa
		if (!response.ok) {
			throw new Error(
				"Network response was not ok " + response.statusText,
			);
		}
		// Convertir la respuesta a JSON
		return response.json();
	})
	.then((data) => {
		// Manejar los datos obtenidos
		console.log(data);
	})
	.catch((error) => {
		// Manejar errores
		console.error("There was a problem with the fetch operation:", error);
	});
---

<Layout title="Alcaldia de Ahuachapan Centro">
	<main>
		
	</main>
</Layout>

<style>
	

</style>
