<nav class="nav">
    <img src="../public/logo-alcaldia.png" alt="Logo alcaldia">
    <h1>Alcaldia Municipal de Ahuachapan Centro</h1>
    <ul>
        <li>Heeey</li>
    </ul>
</nav>

<style>
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img{
        width: 75px;
        margin-top: 20px;
    }
    h1{
        color: white;
    }
</style>